*{
  margin: 0px;
} 
/* font-style */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
 
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.btn{
  padding: 12px 36px;
  border-radius:10px;
  background-color: #4E47FF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color:#FFFFFF;

}


header{
  background-image: url(../Assets/Hero-bg.png);
  
}
/* nav style */
nav{
 padding:50px 150px;
}
nav ul{
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}
li h3{
  font-size:34px ;
  font-weight:bold ;
  color:#4E47FF;
}

.btn:hover{
  background-color: magenta;
}
.hero-contain{
  text-align: center;
  

}
.hero-conten{
  padding: 150px 240px 200px;
 
}
.hero-conten h1{
  font-size: 63px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.hero-conten button{
  margin-top: 37px;
}

/* main part desing */
.Action-Part{
  margin-top: 100px;
}
.Action-allcontain{
  display: flex;
  align-items: center;
  padding: 0px 176px;
  justify-content: space-between;
  border-radius: 48px;
  gap:170px;
  
}
.Action p{
  margin-top:30px ;

}
.Action h3{
  font-size: 42px;
  font-weight: bold;
  color:#252432;
}
.Action p{
font-size: 24px;
color: #252432;
opacity: 50%;
}
.action {
margin-top: 30px;
}
 img{
  border-radius: 48px;
}

/* User-Section-style */
.User-part{
  
  padding: 150px;
}
.user-conten {
  text-align:center;
  border-radius: 24px;
  background-color:#e6e6ff;
  padding: 50px 80px;
  
}
.user-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}
.number-box{
  display: flex;
  justify-content: center;
  gap: 158px;
  margin: 42px 140px;
}
/* user-number-section desing */
.user-revio{
margin: 0px 150px;
background-color: white;
padding: 0px 80px;

}
.user-revio-contain{
display: flex;
text-align: center;
gap: 75px;
}

.user-rvio-title{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.user-card-contain{
  background-color: #F2EDED;
  max-width:350px;
  padding: 24px;
  text-align: left;
  margin-top: 50px;
  align-items: center;
  background-image: url(../Assets/icon-star.png);
  background-repeat: repeat-x;
 border-radius: 24px;
}

.usr-card-subtitile{
  font-size:24px;
  font-weight: 600;
  margin-top: 24px;
  color: #1E1E1E;
}
.user-card-text{
  font-size:16px;
  margin-top: 5px;
  color: #1E1E1E;
}
.card-img{
  display: flex;
  padding: 24px 0px;
  gap: 10px;
}
.img-text{
  color:#757575;
}
/* rdy to focus */
.Rdy-to-foucs{
  padding: 0 150px;
  margin-top:80px ;
  text-align: center;
}

.rdy1-raleway-font{
  text-align: center;
  font-size:50px ;
}
.Rdy-contain{
  text-align: center;
  
}
.rdy-text{
  margin-top:20px;
  
}
.rdy{
  margin-top:20px;
}
.pic{
  margin-top: 20px;
 
}