*{
  margin: 0px;
} 
/* font-style */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  color:#4E47FF;
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.btn{
  padding: 12px 36px;
  border-radius: 5px;
  background-color: #4E47FF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color:#FFFFFF;

}


header{
  background-image: url(../Assets/Hero-bg.png);
  
}
/* nav style */
nav{
 padding:50px 150px;
}
nav ul{
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}
li h3{
  font-size:34px ;
  font-weight:bold ;
}

.btn:hover{
  background-color: magenta;
}
.hero-contain{
  text-align: center;
  

}
.hero-conten{
  padding: 150px 240px 200px;
 
}
.hero-conten h1{
  font-size: 63px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.hero-conten button{
  margin-top: 37px;
}
